/* Color variables for easier reference */

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desa-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

/* Global styles */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
button {
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 1.6rem;
}

h1,
h4 {
  color: var(--dark-blue);
}

p {
  color: var(--desa-blue);
}

/* Content */

body {
  background-image: url("images/pattern-background-desktop.svg");
  background-color: var(--pale-blue);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background: var(--very-pale-blue);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  position: absolute; /* Used position:absolute instead of flex in the body */
  top: 50%; /* because it kept messing up my background image */
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.banner {
  width: 100%;
  border-radius: 1em 1em 0 0;
}

header {
  margin-bottom: 1em;
}

.content {
  padding: 2em 3em;
}

.content-text {
  text-align: center;
  margin-bottom: 2.5em;
}

.plan-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.04);
  padding: 0.8em;
  margin-bottom: 2.5em;
  border-radius: 0.8em;
}

.plan-info {
  flex: 1;
}

.icon-music {
  float: left;
  margin-right: 20px;
}

.change {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--bright-blue);
}

.btn-payment {
  cursor: pointer;
  font-weight: 900;
  background: var(--bright-blue);
  color: var(--pale-blue);
  width: 100%;
  height: 3.5em;
  border-radius: 0.8em;
  border: none;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  transition: 1s;
}

.cancel-order {
  font-weight: 700;
  margin-bottom: 2em;
  text-decoration: none;
  color: var(--desa-blue);
}

/* Responsive for mobile */

@media (max-width: 375px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
    background-color: var(--pale-blue);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card {
    max-width: 325px;
  }

  .content {
    padding: 2em 1em;
  }
}

/* Hover effects */

.change:hover {
  color: var(--desa-blue);
  text-decoration: none;
}

.btn-payment:hover {
  background: var(--desa-blue);
}

.cancel-order:hover {
  color: var(--dark-blue);
}
